<div>
    <table>
        <thead>
            <tr>
                <th class="cart"> DATE</th>
                <th class="cart"> TOTAL</th>
                <th class="cart" align="right"><input type="button" value="X" ng-click="ok()"/></th>
            </tr>
        </thead>
        <tr ng-repeat="trans in displayTrans">
            <td class="cart"> {{trans.date}}</td>
            <td class="cart">$ {{trans.total}} ( ${{trans.cash}} CASH  +  ${{trans.eftpos}} EFTPOS)</td>
        </tr>
    </table>
</div>