.fnt-big{ font-size: 27pt;  }
.fnt-med{ font-size: 24pt;  }
.fnt-sml{ font-size: 21pt;  }

table{
    width: 100%;
}
tr.big-cat {
    height: 100px;
}
tr.med-cat {
    height: 50px;
}
td.cat {
    text-align: center;
    width: 50%;
}
td.cart, th.cart {
    font-size: 15pt;
}
td.title {
    font-weight: bold;
    font-size: 27pt;
}
input.big-btn{
    width: 220px;
    font-size: 27pt;
}
input.med-btn{
    width: 130px;
    font-size: 17pt;
}