<!DOCTYPE html>
<html>
    <head>
        <!--<script src="cordova.js"></script>-->
        <!--<script type="text/javascript" src="js/helpers/smsplugin.js"></script>-->

        <script type="text/javascript" src="js/frameworks/angular.min.js"></script>
        <script type="text/javascript" src="js/frameworks/underscore-min.js"></script>
        <script type="text/javascript" src="js/frameworks/angular-animate.min.js"></script>
        <script type="text/javascript" src="js/frameworks/ui-bootstrap-custom-tpls-0.13.4.min.js"></script>
        <script type="text/javascript" src="js/mPOS.min.js"></script>

        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/app.css" rel="stylesheet">
    </head>
    <body ng-app="myApp">
        <table border="0">
            <tr bgcolor="#f0f8ff">
                <td align="left" width="20%">
                    <div ng-controller="dropdownCtrl">
                        <span dropdown>
                          <a href id="setting-dropdown" dropdown-toggle>
                              <img src="img/setting.jpg" width="80" height="80">
                          </a>
                          <ul class="dropdown-menu">
                              <li><a ng-click="report()" class="fnt-big">Report</a></li>
                              <li><a class="fnt-big">Menu Setup</a></li>
                          </ul>
                        </span>
                    </div>
                </td>
                <td align="center" class="title" width="60%"> mPOS</td>
                <td align="right" width="20%">
                    <div ng-controller='timeCtrl'>
                        <p>{{ clock | date:'medium'}}</p>
                    </div>
                </td>
            </tr>
        </table>
        <div ng-controller="myCtrl">
            <table>
                <tr>
                    <td width="50%" valign="top" bgcolor="#ffebcd">
                        <table>
                            <tr class="big-cat" ng-repeat="item in catList" ng-if="$index % 2 == 0">
                                <td class="cat">
                                    <input class="big-btn" type="button" value="{{catList[$index].name}}"  ng-click="open(catList[$index].cat)"/>
                                </td>
                                <td class="cat">
                                    <input ng-if="catList[$index + 1].cat != undefined" class="big-btn" type="button" value="{{catList[$index + 1].name}}"  ng-click="open(catList[$index + 1].cat)"/>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="5%" bgcolor="#87cefa"><br></td>
                    <td width="45%" valign="top" bgcolor="#87cefa">
                        <table>
                            <tr><td>
                                <table>
                                    <tr>
                                        <td class="title" >Total :</td>
                                        <td class="title" >$ {{totalAmount}} </td>
                                    </tr>
                                </table>
                            </td></tr>
                            <tr><td><br></td></tr>
                            <tr><td>
                                <table>
                                    <tr>
                                        <td><input class="med-btn" type="button" value="UNDO" ng-click="undo()"/></td>
                                        <td align="center">
                                            <input class="big-btn" type="button" value="PAY" ng-click="pay()"/>
                                        </td>
                                        <td align="right">
                                            <input class="med-btn" type="button" value="CLEAR ALL" ng-click="clearAll()"/>
                                        </td>
                                    </tr>
                                </table>
                            </td></tr>
                            <tr><td><br></td></tr>
                            <tr><td>
                                <table border="1">
                                    <thead>
                                        <tr>
                                            <th class="cart">Name</th>
                                            <th class="cart" align="center">Quantity</th>
                                            <th class="cart">Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="item in cart">
                                        <td class="cart">{{item.name}}</td>
                                        <td class="cart">{{item.quantity}} </td>
                                        <td class="cart">$ {{item.price}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td></tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>
